.botao {
    animation: deselected 0.5s 1;
}

.botao.selecionado {
    animation: selected 0.5s 1;
}

@keyframes deselected {
    from {
        transform: scale(1.2);
        box-shadow: 0 0 10px 1px green;
    }

    to {
        transform: scale(1);
        box-shadow: 0 0 10px 1px red;
    }
}

@keyframes selected {
    from {
        transform: scale(1);
        box-shadow: 0 0 10px 1px red;
    }

    to {
        transform: scale(1.2);
        box-shadow: 0 0 10px 1px green;
    }
}